@font-face {
  font-family: "iconfont"; /* Project id 2964334 */
  src: url("//at.alicdn.com/t/font_2964334_qp5sxua0qt.woff2?t=1637810809870")
      format("woff2"),
    url("//at.alicdn.com/t/font_2964334_qp5sxua0qt.woff?t=1637810809870")
      format("woff"),
    url("//at.alicdn.com/t/font_2964334_qp5sxua0qt.ttf?t=1637810809870")
      format("truetype");
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-outer-chain:before {
  content: "\e66e";
}

.icon-empty-message:before {
  content: "\e63a";
}
