.el-button--primary {
  @include button(white, primary, primary);
  &:hover,
  &:focus {
    @include button(white, primary-6, primary-6);
  }
  &:active {
    @include button(white, primary-4, primary-4);
  }
}
.el-button--text{
  color: var(--color-primary);
  background-color: transparent;
  &:hover,
  &:focus {
    color: var(--color-primary-9);
  }
}
.el-button.is-plain{
  &:hover,
  &:focus {
    @include button(primary-6, white, primary-6);
  }
}