$white: #ffffff;
$black: #000000;
$menu-default-color: #eaeaea;
$menu-default-bg-color: #545c64;
$text-color-primary: #303133;
html {
  --color-white: #{$white};
  --color-black: #{$black};
  --menu-default-color: #{$menu-default-color};
  --menu-default-bg-color: #{$menu-default-bg-color};
  --text-color-primary: #{$text-color-primary};
}